.bestseller{
    display: flex;
    gap: 6em;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 6em;
}

.bestseller .title{
    font-size: 3em;
    font-weight: 500;
}

.bestseller .cards{
    display: flex;
    gap: 50px;
    justify-content: space-between;
    align-items: center;
}