.bookCard{
    display: flex;
    flex-direction: column;
    padding: 1em;
    background-color: rgba(0, 0, 0, 0.04);
    box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.125);
    gap: 20px;
    
    justify-content: center;
    text-align: left;
    transition: 0.5s;
}

.bookCard:hover{
    transform: translate(0, -25px);
}

.bookCard img{
    width: 250px;
}

.bookCard .name{
    font-weight: 600;
}